/*# sourceMappingURL=scss.css.map */
body, html {
  height: 100%; }

.encabezado {
  display: grid;
  justify-items: flex-end;
  align-items: center;
  padding: 0% 10% 0 10%; }
  @media (max-width: 430px) {
    .encabezado {
      grid-template-columns: 100%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    .encabezado {
      grid-template-columns: 40% 60%; } }
  @media (min-width: 780px) {
    .encabezado {
      grid-template-columns: 40% 60%; } }

#minilogo {
  width: 50%; }
  @media (min-width: 780px) {
    #minilogo {
      width: 75%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #minilogo {
      width: 85%; } }
  @media (max-width: 430px) {
    #minilogo {
      width: 90%;
      align-items: center;
      margin-top: 5%;
      margin-bottom: 5%; } }

@media (min-width: 780px) {
  .logochico {
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 1; } }

@media (min-width: 430px) and (max-width: 780px) {
  .logochico {
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 1; } }

@media (max-width: 430px) {
  .logochico {
    padding: 0 5% 0 5%;
    margin-left: 5%;
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 1; } }

#lista {
  /*id="lista"*/
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-items: center;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 2% 6% 2% 4%; }

#menu {
  /*id="menu"*/
  text-decoration: none;
  color: grey;
  font-family: "Goldman", cursive;
  text-transform: uppercase; }

#listamenu {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 0 0; }
  @media (max-width: 430px) {
    #listamenu {
      font-size: 75%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #listamenu {
      font-size: 85%; } }
  @media (min-width: 780px) {
    #listamenu {
      font-size: 100%; } }

#navbar {
  background-color: #5e0606;
  color: white;
  border: black;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 3px black;
  color: white;
  border: solid white;
  border-radius: 20px;
  font-size-adjust: initial;
  text-transform: uppercase;
  margin-top: 3%;
  font-size: 100%; }
  #navbar:hover {
    background-color: white;
    border-color: #5e0606;
    color: #5e0606;
    box-shadow: #5e0606; }

.botonesmenu {
  display: inline-grid; }

nav {
  /*margin-right: 10%;
        margin-left: 10%; */
  padding: 3% 10% 5% 10%; }

#contacto {
  /* id="contacto"*/
  text-decoration: none;
  text-decoration: underline;
  color: black; }

#copyright {
  /*id="copyright"*/
  font-size: 80%;
  text-align: center;
  color: black; }
  @media (max-width: 430px) {
    #copyright {
      font-size: 60%; } }

#titulo1 {
  font-family: "Goldman", cursive;
  margin-left: 10%; }
  @media (max-width: 430px) {
    #titulo1 {
      font-size: 150%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #titulo1 {
      font-size: 185%; } }
  @media (min-width: 780px) {
    #titulo1 {
      font-size: 220%; } }

#fondoalt {
  background-color: #5e0606;
  margin: 0 10% 0 10%;
  align-content: center; }

#fondolateral {
  background-image: url(../img/fondotirasp.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#footer {
  display: grid;
  grid-template-columns: 80% 20%; }
  @media (max-width: 430px) {
    #footer {
      grid-template-columns: 70% 30%; } }

#pie {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: left; }

footer {
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%; }

#icon {
  margin: 0.5%; }
  @media (max-width: 430px) {
    #icon {
      width: 10%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #icon {
      width: 4.5%; } }
  @media (min-width: 780px) {
    #icon {
      width: 3.5%; } }

.puff-in-center {
  -webkit-animation: puff-in-center 2s ease-in both;
  animation: puff-in-center 2s ease-in both; }

/* ----------------------------------------------
 * Generated by Animista on 2020-10-23 17:32:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
  @media (max-width: 430px) {
    #logo {
      width: 75%;
      margin-bottom: 20%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #logo {
      width: 65%;
      margin-bottom: 10%; } }

.logoindex {
  text-align: center; }

@media (max-width: 430px) {
  #navbarindex {
    margin-top: 20%; } }

@media (min-width: 430px) and (max-width: 780px) {
  #navbarindex {
    margin-top: 10%; } }

@media (min-width: 780px) {
  #navbarindex {
    margin-top: 5%; } }

#menu-index {
  /*id="menu"*/
  text-decoration: none;
  color: white;
  text-transform: uppercase; }
  @media (max-width: 430px) {
    #menu-index {
      font-size: 75%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #menu-index {
      font-size: 85%; } }
  @media (min-width: 780px) {
    #menu-index {
      font-size: 100%; } }

#boton-menu-index {
  padding: 5% 10% 5% 10%;
  background-color: #5e0606;
  color: white;
  border: solid white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Goldman", cursive;
  box-shadow: 0 3px whitesmoke;
  color: white;
  border: solid white;
  border-radius: 20px;
  font-size: 120%;
  text-transform: uppercase;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  padding: 0 5% 0 5%; }
  #boton-menu-index:hover {
    background-color: white;
    border-color: #5e0606;
    color: #5e0606;
    box-shadow: 0 2px #5e0606; }

#indexbody {
  background-image: url(../img/tiras.png), url(../img/fondobackindex.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #5e0606;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr; }

#copyrightindex {
  font-size: 80%;
  text-align: center;
  color: white; }
  @media (max-width: 430px) {
    #copyrightindex {
      font-size: 60%; } }

/*#newsletter{
    background-color:#f5e1df ;
    border: black;
}
#tinews{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #f5e1df;
}
#botonformu{
     background-color: #ffcccc;
} */
#cartelera {
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  font-size: 100em; }

#titulo-cartelera {
  font-family: "Miriam Libre", sans-serif;
  font-weight: 900;
  padding: 3% 5%;
  color: white;
  text-align: center; }
  @media (max-width: 430px) {
    #titulo-cartelera {
      font-size: 20px; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #titulo-cartelera {
      font-size: 30px; } }
  @media (min-width: 780px) {
    #titulo-cartelera {
      font-size: 40px; } }

#container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  align-content: center;
  flex-grow: 1; }

#portada {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding: 1%; }
  #portada:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  @media (min-width: 1024px) {
    #portada {
      width: 170px;
      height: auto;
      padding: 1%; } }
  @media (min-width: 780px) {
    #portada {
      width: 240px;
      height: 330px;
      padding: none; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #portada {
      width: 220px;
      height: 300px;
      padding: 2%; } }
  @media (max-width: 430px) {
    #portada {
      width: 120px;
      height: 170px;
      padding: 1%; } }

#avances {
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0% 10% 0 10%; }

@media (min-width: 780px) {
  #video {
    width: 660px;
    height: 415px; } }

@media (min-width: 430px) and (max-width: 780px) {
  #video {
    width: 390px;
    height: 250px; } }

@media (max-width: 430px) {
  #video {
    width: 260px;
    height: 150px; } }

#titulotrailer {
  margin-top: 5%;
  margin-left: 10%;
  text-align: left;
  font-family: "Miriam Libre", sans-serif;
  font-weight: 600; }
  @media (max-width: 430px) {
    #titulotrailer {
      font-size: 120%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #titulotrailer {
      font-size: 145%; } }
  @media (min-width: 780px) {
    #titulotrailer {
      font-size: 170%; } }

#tweet-titulo {
  margin-top: 5%;
  font-family: "Miriam Libre", sans-serif;
  font-weight: 600; }
  @media (max-width: 430px) {
    #tweet-titulo {
      font-size: 120%;
      margin-left: 5%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #tweet-titulo {
      font-size: 155%; } }
  @media (min-width: 780px) {
    #tweet-titulo {
      font-size: 170%; } }

#textotrailer {
  color: #5e0606;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify; }

#textolink {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #6807076c;
  text-align: center; }

#linked {
  color: white; }

#tweet {
  margin: 0 10% 0 10%; }

@media (max-width: 430px) {
  .btn-danger {
    margin-left: 5%; } }

.tweet {
  padding: 0% 10% 0 10%; }
  @media (max-width: 430px) {
    .tweet {
      padding: 0 5% 0 5%; } }

#festivales {
  display: grid;
  justify-items: flex-end; }
  @media (max-width: 430px) {
    #festivales {
      grid-template-columns: 100%;
      padding: 0 10% 0 5%;
      align-items: left; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #festivales {
      grid-template-columns: 50% 50%;
      padding: 2% 6% 2% 4%; } }
  @media (min-width: 780px) {
    #festivales {
      grid-template-columns: 50% 50%;
      padding: 2% 6% 2% 4%; } }

#festival {
  text-decoration: none; }

#festival_foto {
  align-items: center;
  width: 50%;
  height: auto;
  margin-bottom: 3%; }
  @media (max-width: 430px) {
    #festival_foto {
      width: 200px; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #festival_foto {
      width: 225px; } }
  @media (min-width: 780px) {
    #festival_foto {
      width: 250px; } }

.festival_animacion {
  position: relative;
  width: 80%;
  padding-left: 10%; }
  .festival_animacion:hover {
    opacity: 1; }

.festival_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6807076c; }
  .festival_overlay:hover {
    opacity: 1; }

.festival_masinfo {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 30%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

#festival_titulo {
  margin-left: 10%;
  color: #5e0606;
  font-weight: 700;
  font-family: "Miriam Libre", sans-serif;
  text-decoration: none; }
  @media (max-width: 430px) {
    #festival_titulo {
      font-size: 130%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #festival_titulo {
      font-size: 145%; } }
  @media (min-width: 780px) {
    #festival_titulo {
      font-size: 170%; } }

#festival_descripcion {
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(143, 139, 139, 0.267);
  color: #5e0606;
  margin-left: 10%;
  margin-right: 10%;
  text-align-last: left; }
  @media (max-width: 430px) {
    #festival_descripcion {
      font-size: 100%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #festival_descripcion {
      font-size: 120%; } }
  @media (min-width: 780px) {
    #festival_descripcion {
      font-size: 130%; } }

/*#prize{
        display: grid;
        padding: $small;
        grid-template-columns: 40% 40%;
        grid-gap: 5%;
        justify-items: stretch ;
        align-items: stretch;
}*/
#carouselExampleControls {
  padding: 0 5% 0 5%; }

#premios--padding {
  padding: 2% 6% 2% 4%; }

#premio_nombre {
  font-family: "Cinzel", serif;
  font-weight: 600; }
  @media (max-width: 430px) {
    #premio_nombre {
      font-size: 130%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #premio_nombre {
      font-size: 145%; } }
  @media (min-width: 780px) {
    #premio_nombre {
      font-size: 170%; } }

#premio_foto {
  width: 100%; }

#premio_ganadores {
  text-decoration: underline;
  color: #5e0606; }
  @media (max-width: 430px) {
    #premio_ganadores {
      font-size: 100%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #premio_ganadores {
      font-size: 120%; } }
  @media (min-width: 780px) {
    #premio_ganadores {
      font-size: 140%; } }

.row {
  display: flex;
  flex-flow: wrap;
  padding-left: 5%; }

.card .card-block {
  max-height: 300px;
  overflow: auto; }

#textolink {
  margin: 5% 10% 5% 10%;
  background-color: #6807076c;
  text-align: center; }
  @media (max-width: 430px) {
    #textolink {
      font-size: 100%; } }
  @media (min-width: 430px) and (max-width: 780px) {
    #textolink {
      font-size: 120%; } }
  @media (min-width: 780px) {
    #textolink {
      font-size: 140%; } }

#linked {
  color: black; }
