/*# sourceMappingURL=scss.css.map */
//VARIABLES
$blanco: white;
$niebla: whitesmoke;
$bordo: rgb(94, 6, 6);
$error: rgb(51, 2, 2);
$gris: grey;
$negro: black;
$tipo-boton: 'Goldman', cursive;
$tipo-menu: Verdana, Geneva, Tahoma, sans-serif;
$tipo-t1: 'Libre Baskerville', serif;
$tipo-t2: 'Quicksand', sans-serif;
$tipo-cartelera: 'Miriam Libre', sans-serif;
$festival: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$texto: 'Times New Roman', Times, serif;
$tipografiapremios: 'Cinzel', serif;
$bordo_fondo: #6807076c;
$colorfondo: rgba(143, 139, 139, 0.267);
$cero: 0;
$cincuenta: 50%;
$cien: 100%;
$diez: 10%;
$cinco:5%;
$t-titulo: 120%;
$none: none;
$cerodiez: 0% 10% 0 10%;
$small: 0 5% 0 5%;
$medium: 2% 6% 2% 4%;
$padding3510: 3% 10% 5% 10%;
$padding-cartelera: 3% 10% 1% 10%;
$paddingcincodiez: 5% 10% 5% 10%;
$paddingxl: 10% 15% 10% 15%;
$negrita: 600;
$centrar: center;
$absolute: absolute;
$grillali: inline-grid;
$subrayar: underline;  
$mayusculas: uppercase;
$opacidad: 1;
//SIZE MIXINS
//Small devices
@mixin sm {
        @media (max-width:430px){
                @content;
        }
}
// Medium devices
@mixin md {
        @media (min-width: 430px) and (max-width:780px) {
            @content;
        }
}
// Large devices
@mixin lg {
        @media (min-width: 780px) {
            @content;
        }
}
//GENERAL
body, html{
        height: $cien;
}
.encabezado{
        display: grid;
        justify-items: flex-end;
        align-items: $centrar;
        padding: $cerodiez;
        @include sm(){
                grid-template-columns: $cien;
        }
        @include md(){
                grid-template-columns: 40% 60%;
        }
        @include lg(){
                grid-template-columns: 40% 60%;
        }
}
#minilogo{
        width: 50%;
       /*@include lg(){
                width: 75%; 
       } 
       @include md(){
                width: 85% ;
       }
       @include sm(){
                width: 90%;
       }*/
}
.logochico{
        @include lg(){
                display: $grillali;
                grid-column-start: 1;
                grid-column-end: 1;
        }
        @include md(){
                display: $grillali;
                grid-column-start: 1;
                grid-column-end: 1;
        }
        @include sm(){
                display: $grillali;
                grid-column-start: 1;
                grid-column-end: 1;
        }
}
#lista{
        /*id="lista"*/
        list-style-type: $none;
        display: flex;
        flex-flow:  row wrap;
        align-items: flex-start;
        align-items: $centrar;
        justify-content: space-evenly;
        align-items: baseline;
        padding: $medium;

}
#menu{
        /*id="menu"*/
        text-decoration: $none;
        color: $gris;
        font-family: $tipo-boton;
        text-transform: $mayusculas;
}
#listamenu{
        list-style-type: $none;
        display: flex;
        flex-flow:  row wrap;
        align-items: flex-end;
        justify-content: space-evenly;
        align-items: baseline;
}
#navbar{
        background-color: $bordo;
        color: $blanco;
        border: $negro;
        cursor: pointer;
        text-align: $centrar;
        text-decoration: $none;
        box-shadow: 0 3px $negro;
        color: $blanco;
        border: solid $blanco;
        border-radius: 20px;
        font-size-adjust: initial;
        text-transform: $mayusculas;
        margin-top: 3%;
        font-size: 100%;
        &:hover {
                background-color:$blanco;
                border-color: $bordo;
                color: $bordo;
                box-shadow: $bordo;     
        }      
}
.botonesmenu{
        display: inline-grid;
}
nav{
        /*margin-right: 10%;
        margin-left: 10%; */
        padding: $padding3510;
}
#contacto{
        /* id="contacto"*/
        text-decoration: $none;
        text-decoration: $subrayar;
        color: $negro;
}
#copyright{
        /*id="copyright"*/
        font-size: 80%;
        text-align: $centrar;
        color: $negro;
        @include sm(){
                font-size: 60%;
        }
}
#titulo1{
        font-family: $tipo-boton; 
        margin-left: $diez;
        @include sm(){
                font-size: 150%;
        }
        @include md(){
                font-size: 185%;
        }
        @include lg(){
                font-size: 200%;
        }
}
#fondoalt{
        background-color:$bordo;
        margin: 0 $diez 0 $diez;
        align-content: center;
}
#fondolateral{
        background-image: url(../img/fondotirasp.png);
        background-position: $centrar $centrar ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
#footer{
        display: grid;
        grid-template-columns: 80% 20%;
        @include sm(){
                grid-template-columns: 70% 30%;
        }
}
#pie{
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
        justify-content: left;
}
footer{
        margin-top: 5%;
        margin-left: 7%;
        margin-right: 7%;
}
#icon{
        margin: 0.5%;
        @include sm(){
                width:  10%;
        }
        @include md(){
                width:  4.5%;
        }
        @include lg(){
                width:  3.5%;
        }
}
//ANIMACIONES
.puff-in-center {
	-webkit-animation: puff-in-center 2s ease-in both;
	        animation: puff-in-center 2s ease-in both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-10-23 17:32:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
        0% {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
}
@keyframes puff-in-center {
        0% {
          -webkit-transform: scale(2);
                  transform: scale(2);
          -webkit-filter: blur(4px);
                  filter: blur(4px);
          opacity: 0;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
}
//INDEX
#logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: $cincuenta;
        @include sm(){
                width: 75%;
                margin-bottom: 20%;
        }
        @include md(){
                width: 65%;
                margin-bottom: 10%;
        }
}
.logoindex{
        text-align: $centrar;
}
#navbarindex{
        @include sm(){
                margin-top: 20%;
        }
        @include md(){
                margin-top: $diez;
        }
        @include lg(){
                margin-top: $cinco;
        } 
}
#menu-index{
        /*id="menu"*/
        text-decoration: $none;
        color: $blanco;
        text-transform: $mayusculas;
        @include sm(){
                font-size: 75%;
        }
        @include md(){
                font-size: 85%;
        }
        @include lg(){
                font-size: $cien;
        }
        
}
#boton-menu-index{
        padding: $paddingcincodiez;
        background-color: $bordo;
        color: $blanco;
        border: solid $blanco;
        cursor: pointer;
        text-align: $centrar;
        text-decoration: $none;
        font-family: $tipo-boton;
        box-shadow: 0 3px $niebla;
        color: $blanco;
        border: solid $blanco;
        border-radius: 20px;
        font-size: $t-titulo;
        text-transform: $mayusculas;
        margin-top: $diez;
        margin-bottom: $diez;
        margin-right: $diez;
        padding: $small;
        &:hover{
                background-color: $blanco;
                border-color: $bordo;
                color: $bordo;
                box-shadow: 0 2px $bordo;    
        }
}
#indexbody{
        background-image: url(../img/tiras.png), url(../img/fondobackindex.png);
        height: $cien;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color:$bordo;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 3fr;
}
#copyrightindex{
        font-size: 80%;
        text-align: $centrar;
        color: $blanco;
        @include sm(){
                font-size: 60%;
        }
}
 /*#newsletter{
    background-color:#f5e1df ;
    border: black;
}
#tinews{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #f5e1df;
}
#botonformu{
     background-color: #ffcccc;
} */
//CARTELERA
#cartelera{
        text-decoration: $none;
        color: $blanco;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: $centrar;
        font-size: 100em;
}
#titulo-cartelera{
        font-family: $tipo-cartelera;
        font-weight: 900;
        padding: 3% 5%;
        color: $blanco;
        text-align: $centrar;
        @include sm(){
                font-size: 20px ;
        }
        @include md(){
                font-size: 30px;
        }
        @include lg(){
                font-size: 40px;
        }
}
#container{
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        align-content: $centrar;
        flex-grow: 1;
}
#portada{  
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover{
                -webkit-transform: scale(1.3);
                transform: scale(1.3); 
        }
        padding: 1%;
        @include lg(){
                width: 240px;
                height: 330px;
                padding: $none;
        }
        @include md(){
                width: 200px;
                height: 300px;
                padding: 2%;
        }
        @include sm(){
                width: 120px; 
                height: 170px;
                padding: 1%;
        }
}     
//TRAILERS
#avances{
        overflow-y: hidden;
        overflow-x: auto;
        padding: $cerodiez;
}
#video{
    @include lg(){
        width: 660px;
        height: 415px;
    }
    @include md(){
        width: 390px;
        height: 250px;
    }
    @include sm(){
        width: 260px;
        height: 150px;
    }
}
#titulotrailer{
        margin-top: $cinco;
        margin-left: $diez;
        text-align: left;
        font-family: $tipo-cartelera;
        font-weight: 600;
        @include sm(){
                font-size: 120%;
        }
        @include md(){
                font-size: 145%;
        }
        @include lg(){
                font-size: 170% ;
        }
}
#tweet-titulo{
        margin-top: $cinco;
        font-family: $tipo-cartelera;
        font-weight: 600;
        @include sm(){
                font-size: 120%;
                margin-left: 5%;
        }
        @include md(){
                font-size: 155%;
        }
        @include lg(){
                font-size: 170% ;
        }
}
#textotrailer{
        color: $bordo;
        margin-left: $diez;
        margin-right: $diez;
        text-align: justify;
}
#textolink{
        margin-top: $cinco;
        margin-left: $diez;
        margin-right: $diez;
        background-color: $bordo_fondo;
        text-align: $centrar;
}
#linked{
        color: $blanco;
}
#tweet{
        margin: 0 $diez 0 $diez;
}
.btn-danger{
        @include sm(){
                margin-left: 5%;
        }
}
.tweet{
        padding: $cerodiez;
        @include sm(){
                padding: $small; 
        }
}
//EVENTOS
#festivales{
        display: grid;
        justify-items: flex-end;
        @include sm(){
                grid-template-columns: $cien;
                padding: 0 10% 0 5%;
                align-items: left;
        }
        @include md(){
                grid-template-columns: $cincuenta $cincuenta;
                padding: $medium;
        }
        @include lg(){
                grid-template-columns: $cincuenta $cincuenta;
                padding: $medium;
        }
}
#festival{
        text-decoration: $none;
}
#festival_foto {
        align-items: center;
        width: $cincuenta;
        height: auto;
        margin-bottom: 3%;
        @include sm(){
                width: 200px;
        }
        @include md(){
                width: 225px;
        }
        @include lg(){
                width: 250px;
        }
}
.festival_animacion{
        position: relative;
        width: 80%;
        padding-left: $diez;
        &:hover{
                opacity: $opacidad;
        }
}  
.festival_overlay{
        position: $absolute;
        top: 0;
        bottom: 0;
        left: $diez;
        right: 0;
        height: $cien;
        width: $cien;
        opacity: 0;
        transition: .5s ease;
        background-color: $bordo_fondo;
        &:hover{
                opacity: $opacidad;
        }
}     
.festival_masinfo{
        color: $blanco;
        font-size: 100%;
        position: absolute;
        top: 30%;
        margin-left: $cincuenta;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: $centrar; 
}
#festival_titulo{
        margin-left: $diez;
        color: $bordo;
        font-weight: 700;
        font-family: $tipo-cartelera;
        text-decoration: $none;
        @include sm(){
                font-size: 130%;
        }
        @include md(){
                font-size: 145%;
        }
        @include lg(){
                font-size: 170% ;
        }
}
#festival_descripcion{
        font-family: $texto;
        background-color: $colorfondo;
        color: $bordo;
        margin-left: 10%;
        margin-right: 10%;
        text-align-last: left;
        @include sm(){
                font-size: 100%;
        }
        @include md(){
                font-size: 120%;
        }
        @include lg(){
                font-size: 130% ;
        }

}
//PREMIOS
/*#prize{
        display: grid;
        padding: $small;
        grid-template-columns: 40% 40%;
        grid-gap: 5%;
        justify-items: stretch ;
        align-items: stretch;
}*/
#carouselExampleControls{
        padding: $small;
}
#premios--padding{
        padding: $medium;
}
#premio_nombre{
        font-family: $tipografiapremios;
        font-weight: $negrita;
        @include sm(){
                font-size: 130%;
        }
        @include md(){
                font-size: 145%;
        }
        @include lg(){
                font-size: 170% ;
        }
}
#premio_foto{
        width: $cien;
}
#premio_ganadores{
        text-decoration: $subrayar;
        color: $bordo;
        @include sm(){
                font-size: 100%;
        }
        @include md(){
                font-size: 120%;
        }
        @include lg(){
                font-size: 140% ;
        }
}
.row{
        display: flex;
        flex-flow: wrap;
        padding-left: 5%;
}
.card .card-block {
        max-height:300px;overflow:auto;
}
#textolink{
        margin: $paddingcincodiez;
        background-color: $bordo_fondo;
        text-align: $centrar;
        @include sm(){
                font-size: 100%;
        }
        @include md(){
                font-size: 120%;
        }
        @include lg(){
                font-size: 140% ;
        }
}
#linked{
        color: $negro;
}
// by Lara Converso